You have to work on the [Dogs adoptions](https://drive.google.com/file/d/1wQsA0oB6wwYlnkvvcyBCmLk7QmgVWNax/view?usp=sharing) dataset. 

It contains three files:
*  `dogs.csv`, shortly *dogs*
*  `dogTravel.csv`, shortly *travels*
*  `NST-EST2021-POP.csv`

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com).
1.    At most 3 students can be in each group. You must create the groups by yourself.
1.    You do not have to send me the project *before* the discussion.

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as  pd
import re
dogs=pd.read_csv("C:\\Users\\aless\\OneDrive\\Desktop\\adoptions\\dogs.csv")
#looking at the data set, we can see that there are some error about some attributes of the data set due to a wrong structure of the data set.
#Some rows contains wrong value that should be in other attributes, in particolar: "status","posted", "contact_city", "contact_state",
#"contact_zip", "contact_country", "stateQ" and  "accessed".
#So we should shift back the value of that particolar rows in the right columns.

In [3]:
indexes=dogs[dogs['accessed'].isnull()].index
notindexes=dogs[dogs['accessed'].notnull()].index
new=dogs[dogs['accessed'].isnull()]
new['status']='NULL'
dogs['accessed']=pd.concat([dogs['stateQ'][indexes],dogs['accessed'][notindexes]])
dogs['stateQ']=pd.concat([dogs['contact_country'][indexes],dogs['stateQ'][notindexes]])
dogs['contact_country']=pd.concat([dogs['contact_zip'][indexes],dogs['contact_country'][notindexes]])
dogs['contact_zip']=pd.concat([dogs['contact_state'][indexes],dogs['contact_zip'][notindexes]])
dogs['contact_state']=pd.concat([dogs['contact_city'][indexes],dogs['contact_state'][notindexes]])
dogs['contact_city']=pd.concat([dogs['posted'][indexes],dogs['contact_city'][notindexes]])
dogs['posted']=pd.concat([dogs['status'][indexes],dogs['posted'][notindexes]])
dogs['status']=pd.concat([new['status'],dogs['status'][notindexes]])

C:\Users\aless\AppData\Local\Temp\ipykernel_18424\4167577919.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['status']='NULL'

### 1. Extract all dogs with status that is not *adoptable*

In [4]:
dogs[dogs['status']!='adoptable']

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
644,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Las Vegas,NV,89146,US,89009,2019-09-20,Dog,Meet handsome 3 year old Gunther. Gunther came...,108,256.88
5549,38169117,AZ414,https://www.petfinder.com/dog/annabelle-annie-...,Dog,Dog,Boxer,Pit Bull Terrier,True,False,Black,...,Chandler,AZ,85249,US,AZ,2019-09-20,Dog,You can fill out an adoption application onlin...,80,130.77
10888,45833989,NY98,https://www.petfinder.com/dog/pepper-courtesy-...,Dog,Dog,Beagle,NaN,False,False,NaN,...,Albany,NY,12220,US,CT,2019-09-20,Dog,This is Pepper. He is a 15 year old tri-color ...,86,180.70
11983,45515547,NY98,https://www.petfinder.com/dog/cooper-courtesy-...,Dog,Dog,Mixed Breed,NaN,False,False,NaN,...,Albany,NY,12220,US,CT,2019-09-20,Dog,"Cooper is 13 years old, but according to a ver...",105,400.82
12495,45294115,NY98,https://www.petfinder.com/dog/daisy-courtesy-l...,Dog,Dog,Basset Hound,NaN,False,False,Brown / Chocolate,...,Albany,NY,12220,US,CT,2019-09-20,Dog,"â¢Basset Hound, female, â¢10 years \n\nDelig...",57,82.61
12600,45229004,NY1436,https://www.petfinder.com/dog/elmo-momo-452290...,Dog,Dog,American Bulldog,NaN,True,False,NaN,...,Saugerties,NY,12477,US,CT,2019-09-20,Dog,"Hello i'm MoMo or Elmo , 7 year old, mixed bre...",73,136.30
12613,45227052,NY1436,https://www.petfinder.com/dog/bianca-pinky-452...,Dog,Dog,Mixed Breed,NaN,False,False,White / Cream,...,Saugerties,NY,12477,US,CT,2019-09-20,Dog,"Hello I'm Bianca, a female, 7 year old mixed b...",107,231.31
17619,45569380,CA1209,https://www.petfinder.com/dog/baby-girl-455693...,Dog,Dog,Maltese,NaN,False,False,White / Cream,...,Bristow,VA,20136,US,DC,2019-09-20,Dog,This 10-year young senior is very sweet and lo...,76,263.63
18611,44694387,MD295,https://www.petfinder.com/dog/king-bert-bertie...,Dog,Dog,Fox Terrier,Chihuahua,True,False,Bicolor,...,Silver Spring,MD,20905,US,DC,2019-09-20,Dog,"\""Bertie\"" came to us from the shelter. He wa...",61,158.84
19747,36978896,VA127,https://www.petfinder.com/dog/maddie-cutie-pat...,Dog,Dog,Alaskan Malamute,NaN,False,False,Bicolor,...,Gettysburg,PA,17325,US,DC,2019-09-20,Dog,Maddie is our little Miss Cutie Patootie! She ...,119,431.66
19845,33218331,VA127,https://www.petfinder.com/dog/bucky-are-u-my-h...,Dog,Dog,Alaskan Malamute,Siberian Husky,True,False,Gray / Blue / Silver,...,Gettysburg,PA,17325,US,DC,2019-09-20,Dog,"Born in August 2014, Bucky has a great sense o...",98,346.67
22161,42092005,PA738,https://www.petfinder.com/dog/chloe-little-ras...,Dog,Dog,Pit Bull Terrier,Pointer,True,False,Black,...,Media,PA,19063,US,DE,2019-09-20,Dog,"Meet Chloe our \""Little Rascal.\",113,279.59
22229,39594038,PA562,https://www.petfinder.com/dog/cozi-h-wilson-lo...,Dog,Dog,Pit Bull Terrier,NaN,True,False,NaN,...,Feasterville,PA,19053,US,DE,2019-09-20,Dog,01.04.19\nHi Folks! Iâm Cozi and Iâm so gl...,88,360.84
29283,45895274,IL688,https://www.petfinder.com/dog/gibson-edgar-gib...,Dog,Dog,Labrador Retriever,NaN,True,False,Brown / Chocolate,...,Paris,IL,61944,US,IL,2019-09-20,Dog,Gibson Edgar is a 12 month old male Lab mix th...,74,121.56
30471,45964719,IN694,https://www.petfinder.com/dog/puppies-berries-...,Dog,Dog,American Staffordshire Terrier,Border Collie,True,False,Black,...,Mooresville,IN,46158,US,IN,2019-09-20,Dog,11 Berry Pups\nIndividual pics will be done. ...,127,429.87
31581,44538917,OH907,https://www.petfinder.com/dog/leila-courtesy-p...,Dog,Dog,Australian Shepherd,Husky,True,False,"Tricolor (Brown, Black, & White)",...,Ross,OH,45061,US,IN,2019-09-20,Dog,THIS IS A COURTESY POST (this means that any a...,92,188.49
31888,41430442,OH907,https://www.petfinder.com/dog/eden-in-training...,Dog,Dog,Hound,NaN,True,False,White / Cream,...,Ross,OH,45061,US,IN,2019-09-20,Dog,Eden is estimated 3 years old and weighs 40 lb...,97,238.60
33000,45907639,IN714,https://www.petfinder.com/dog/coach-chris-mack...,Dog,Dog,Chihuahua,Beagle,True,False,Yellow / Tan / Blond / Fawn,...,Jeffersonville,IN,47131,US,KY,2019-09-20,Dog,"Mack is a 2 year old, 13 pound furry chihuahua...",101,478.36
33527,45362806,OH852,https://www.petfinder.com/dog/liberty-libby-45...,Dog,Dog,Pomeranian,NaN,False,False,NaN,...,Cincinnati,OH,45249,US,KY,2019-09-20,Dog,Liberty came to us on the 3rd of July - she ha...,65,185.05
34188,32590894,IN595,https://www.petfinder.com/dog/samson-sam-32590...,Dog,Dog,Mastiff,Labrador Retriever,True,False,Black,...,Paoli,IN,47454,US,KY,2019-09-20,Dog,DUE TO PROBLEMS WITH THE CURRENT PETFINDER UPD...,116,413.96
35065,31426754,LA256,https://www.petfinder.com/dog/sully-sullivan-3...,Dog,Dog,Pit Bull Terrier,NaN,False,False,Black,...,lake charles,LA,70601,US,LA,2019-09-20,Dog,Hi my name is Sully! I get along with most dog...,122,204.63
44830,46037827,NM133,https://www.petfinder.com/dog/periwinkle-wink-...,Dog,Dog,Australian Shepherd,Spaniel,True,False,Brown / Chocolate,...,Albuquerque,NM,87108,US,NM,2019-09-20,Dog,We take the time to post pertinent information...,85,296.75
53168,44044071,TN669,https://www.petfinder.com/dog/raymond-reddingt...,Dog,Dog,American Staffordshire Terrier,NaN,True,False,Red / Chestnut / Orange,...,Cookeville,TN,38506,US,TN,2019-09-20,Dog,Red is a 4-5 yr old Staffey mix that is a wig...,88,230.12
53539,27521132,TN577,https://www.petfinder.com/dog/norma-rose-rosie...,Dog,Dog,Yellow Labrador Retriever,American Staffordshire Terrier,True,False,Yellow / Tan / Blond / Fawn,...,Nashville,TN,37189,US,TN,2019-09-20,Dog,Robyn's Nest Animal Rescue & SanctuaryNashvill...,93,300.50
55434,38473806,VA486,https://www.petfinder.com/dog/markey-moose-384...,Dog,Dog,Hound,NaN,False,False,White / Cream,...,Rustburg,VA,24588,US,VA,2019-09-20,Dog,"Markey \""Moose\"" first came to us after being ...",78,71.15
55467,34101432,VA628,https://www.petfinder.com/dog/george-boy-georg...,Dog,Dog,Labrador Retriever,NaN,True,False,Yellow / Tan / Blond / Fawn,...,Midlothian,VA,23112,US,VA,2019-09-20,Dog,Contact dojennings@Comcast.net or Debbie Jenni...,115,320.23
55915,45958435,WA581,https://www.petfinder.com/dog/skipper-45958435...,Dog,Dog,Yorkshire Terrier,Terrier,True,False,"Tricolor (Brown, Black, & White)",...,Seattle,WA,98106,US,WA,2019-09-20,Dog,For a quicker response please submit a online ...,102,338.18
55975,45927580,WA581,https://www.petfinder.com/dog/bella-45927580/w...,Dog,Dog,Chihuahua,NaN,False,False,White / Cream,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Bella\"" She is a adorable and 7 pounds ...",102,407.51
56013,45916348,WA581,https://www.petfinder.com/dog/cody-45916348/wa...,Dog,Dog,Golden Retriever,Terrier,True,False,Bicolor,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,*Please apply online at www.6dogrees.com to ge...,92,164.55
56248,45733027,WA581,https://www.petfinder.com/dog/gracie-45733027/...,Dog,Dog,Papillon,Cavalier King Charles Spaniel,True,False,Golden,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Gracie\"" a very beautiful 11 pound,fema...",82,168.54
56464,45413997,WA581,https://www.petfinder.com/dog/jameson-45413997...,Dog,Dog,Rat Terrier,Chihuahua,True,False,"Tricolor (Brown, Black, & White)",...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Jameson\"" He is a very handsome 9 pound...",108,297.27
56473,45406516,WA581,https://www.petfinder.com/dog/canelo-45406516/...,Dog,Dog,Chihuahua,Terrier,True,False,Bicolor,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet Canelo a adorable small, tan very sweet...",94,312.10
56541,45264615,WA581,https://www.petfinder.com/dog/noni-45264615/wa...,Dog,Dog,Chihuahua,Terrier,True,False,Black,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Noni\"" She is a Black and white smooth ...",77,290.16

### 2. For each (primary) breed, determine the number of dogs

In [68]:
dogs.groupby('breed_primary').size()

breed_primary
Affenpinscher                         17
Afghan Hound                           4
Airedale Terrier                      19
Akbash                                 3
Akita                                181
                                    ...
Wirehaired Pointing Griffon            1
Wirehaired Terrier                    60
Xoloitzcuintli / Mexican Hairless     11
Yellow Labrador Retriever            158
Yorkshire Terrier                    360
Length: 216, dtype: int64

### 3. For each (primary) breed, determine the ratio between the number of dogs of `Mixed Breed` and those not of Mixed Breed. Hint: look at the `secondary_breed`.

In [71]:
dogs['vero']=dogs['breed_secondary']=='Mixed Breed'
dogs['falso']=dogs['breed_secondary']!='Mixed Breed'
dogs.groupby('breed_primary').sum()['vero']/dogs.groupby('breed_primary').sum()['falso']

breed_primary
Affenpinscher                        0.062500
Afghan Hound                         0.000000
Airedale Terrier                     0.055556
Akbash                               0.000000
Akita                                0.034286
                                       ...
Wirehaired Pointing Griffon          0.000000
Wirehaired Terrier                   0.071429
Xoloitzcuintli / Mexican Hairless    0.000000
Yellow Labrador Retriever            0.000000
Yorkshire Terrier                    0.043478
Length: 216, dtype: float64

### 4. For each (primary) breed, determine the earliest and the latest `posted` timestamp.

In [16]:
dogs['data_posted']=pd.to_datetime(dogs['posted'])
pd.merge(dogs.groupby('breed_primary')['data_posted'].min(), dogs.groupby('breed_primary')['data_posted'].max(), on='breed_primary', suffixes=('_earliest','_latest'))

,data_posted_earliest,data_posted_latest
breed_primary,,
Affenpinscher,2012-03-08 10:27:33+00:00,2019-09-14 10:10:51+00:00
Afghan Hound,2017-06-29 23:28:51+00:00,2019-07-27 00:38:48+00:00
Airedale Terrier,2014-06-13 12:59:36+00:00,2019-09-19 18:40:39+00:00
Akbash,2019-07-21 00:35:59+00:00,2019-08-23 17:11:04+00:00
Akita,2012-03-03 09:31:08+00:00,2019-09-20 15:19:57+00:00
...,...,...
Wirehaired Pointing Griffon,2016-06-29 20:03:55+00:00,2016-06-29 20:03:55+00:00
Wirehaired Terrier,2012-11-27 14:07:54+00:00,2019-09-19 22:52:45+00:00
Xoloitzcuintli / Mexican Hairless,2007-02-01 00:00:00+00:00,2019-09-08 11:15:54+00:00
Yellow Labrador Retriever,2010-05-31 00:00:00+00:00,2019-09-20 06:30:27+00:00
Yorkshire Terrier,2012-02-04 17:14:52+00:00,2019-09-20 16:56:38+00:00

### 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

In [78]:
dogs['maschi']=dogs['sex']=='Male'
dogs['femmine']=dogs['sex']=='Female'
mf=pd.DataFrame()
mf['maschi']=dogs.groupby('contact_state').sum()['maschi']
mf['femmine']=dogs.groupby('contact_state').sum()['femmine']
mf['diff']=mf['maschi']-mf['femmine']
mf[mf['diff']==mf['diff'].max()]

               maschi  femmine  diff
contact_state
OH               1439     1234   205

### 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

In [9]:
dogs.groupby(['age','size']).mean()[['stay_duration','stay_cost']]

                    stay_duration   stay_cost
age    size
Adult  Extra Large      89.015414  232.591561
       Large            89.531943  238.661141
       Medium           89.421036  238.258977
       Small            89.407479  238.974838
Baby   Extra Large      87.032967  237.180879
       Large            89.701564  238.698827
       Medium           89.577668  237.108131
       Small            89.958291  239.083810
Senior Extra Large      88.861111  235.232361
       Large            88.984298  237.507364
       Medium           89.810052  238.514615
       Small            89.073626  238.282286
Young  Extra Large      90.586345  245.835582
       Large            90.104206  238.149506
       Medium           89.515123  239.304603
       Small            89.814275  241.540069

### 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

In [89]:
travel=pd.read_csv("C:\\Users\\aless\\OneDrive\\Desktop\\adoptions\\dogTravel.csv")
new=pd.DataFrame()
new=pd.merge(travel.groupby('id').count()['contact_city'], dogs[['id','breed_primary','breed_secondary']], on='id')
new=new.rename(columns={"contact_city":"N_travel"})
new[new['N_travel']>=3]

            id  N_travel       breed_primary           breed_secondary
5     16657005         4    Pit Bull Terrier                       NaN
9     20905974         5           Chow Chow  English Springer Spaniel
17    24894870         4               Hound                   Terrier
18    24894894         4               Hound                   Terrier
55    33218331         7    Alaskan Malamute            Siberian Husky
...        ...       ...                 ...                       ...
4110  46042569         3  Labrador Retriever                       NaN
4111  46042587         3  Labrador Retriever                       NaN
4112  46042618         3  Labrador Retriever                       NaN
4113  46043099         3  Labrador Retriever                       NaN
4114  46043149         3  Labrador Retriever                       NaN

[563 rows x 4 columns]

### 8. Fix the `travels` table so that the correct state is computed from  the `manual` and the `found` fields. If `manual` is not missing, then it overrides what is stored in `found`.

In [95]:
indicinotnull=travel[travel['manual'].notnull()].index
travel['found'][indicinotnull]=travel['manual'][indicinotnull]
travel[['id','found','manual']].head()

         id        found    manual
0  44520267     Arkansas       NaN
1  44698509      Bahamas   Bahamas
2  45983838     Maryland  Maryland
3  44475904      Adaptil       NaN
4  43877389  Afghanistan       NaN

### 9. For each state, compute the ratio between the number of travels and the population.

In [12]:
nst=pd.read_csv("C:\\Users\\aless\\OneDrive\\Desktop\\adoptions\\NST-EST2021-POP.csv", names=('state','population'))
merge=pd.merge(travel.groupby('found').count()['id'], nst, left_on='found', right_on='state')
merge['population']=merge['population'].str.replace('\.','')
merge['ratio']=merge['id']/pd.to_numeric(merge['population'], downcast = 'integer')
merge=merge.rename(columns={'id':"N_travel"})
merge

    N_travel           state population         ratio
0        338         Alabama    5024279  6.727333e-05
1         33         Arizona    7151502  4.614415e-06
2         61        Arkansas    3011524  2.025553e-05
3        279      California   39538223  7.056463e-06
4         11        Colorado    5773714  1.905186e-06
5         16     Connecticut    3605944  4.437118e-06
6         27        Delaware     989948  2.727416e-05
7        163         Florida   21538187  7.567954e-06
8        235         Georgia   10711908  2.193820e-05
9          4          Hawaii    1455271  2.748629e-06
10         4           Idaho    1839106  2.174970e-06
11        33        Illinois   12812508  2.575608e-06
12        17         Indiana    6785528  2.505332e-06
13         7            Iowa    3190369  2.194104e-06
14         3          Kansas    2937880  1.021144e-06
15        99        Kentucky    4505836  2.197151e-05
16        69       Louisiana    4657757  1.481400e-05
17        13           Maine    1362359  9.542272e-06
18       140        Maryland    6177224  2.266390e-05
19        13   Massachusetts    7029917  1.849239e-06
20        29        Michigan   10077331  2.877746e-06
21        80       Minnesota    5706494  1.401912e-05
22        62     Mississippi    2961279  2.093690e-05
23        17        Missouri    6154913  2.762021e-06
24         4        Nebraska    1961504  2.039252e-06
25         3          Nevada    3104614  9.663037e-07
26         2   New Hampshire    1377529  1.451875e-06
27        44      New Jersey    9288994  4.736789e-06
28        84      New Mexico    2117522  3.966901e-05
29        63        New York   20201249  3.118619e-06
30       292  North Carolina   10439388  2.797099e-05
31         2    North Dakota     779094  2.567084e-06
32        72            Ohio   11799448  6.101980e-06
33        32        Oklahoma    3959353  8.082129e-06
34         2          Oregon    4237256  4.720036e-07
35        50    Pennsylvania   13002700  3.845355e-06
36         4    Rhode Island    1097379  3.645049e-06
37       221  South Carolina    5118425  4.317734e-05
38         2    South Dakota     886667  2.255638e-06
39       144       Tennessee    6910840  2.083683e-05
40       959           Texas   29145505  3.290387e-05
41        10            Utah    3271616  3.056593e-06
42         1         Vermont     643077  1.555024e-06
43       306        Virginia    8631393  3.545198e-05
44        11      Washington    7705281  1.427592e-06
45       117   West Virginia    1793716  6.522772e-05
46         7       Wisconsin    5893718  1.187705e-06
47         1         Wyoming     576851  1.733550e-06

### 10. For each dog, compute the number of days from the `posted` day to the day of last access.

In [18]:
dogs['accessed']=pd.to_datetime(dogs['accessed'])
dogs['posted']=dogs['posted'].str.extract('^(\d+[-]\d+[-]\d+)')
dogs['posted']=pd.to_datetime(dogs['posted'])
dogs['diff']=dogs['accessed']-dogs['posted']
dogs['diff']

0         0 days
1         0 days
2         0 days
3         0 days
4         0 days
          ...
58175   140 days
58176   160 days
58177   358 days
58178   373 days
58179   382 days
Name: diff, Length: 58180, dtype: timedelta64[ns]

### 11. Partition the dogs according to the number of weeks from the `posted` day to the day of last access.

In [142]:
dogs['N_week']=(dogs['accessed']-dogs['posted'])//7
dogs['N_week']=dogs['N_week'].astype(str)
dogs['N_week']=dogs['N_week'].str.extract('(\d+)')
dogs.groupby('N_week').size()

N_week
0      9802
1      6541
10     1006
100      48
101      47
       ...
95       28
96       50
97       60
98       53
99       59
Length: 579, dtype: int64

### 12. Find for duplicates in the `dogs` dataset. Two records are duplicates if they have (1) same breeds and sex, and (2) they share at least 90% of the words in the description field. Extra points if you find and implement a more refined for determining if two rows are duplicates.

In [146]:
pip install nltk

Requirement already satisfied: nltk in c:\users\aless\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: tqdm in c:\users\aless\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\aless\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: click in c:\users\aless\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\aless\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: colorama in c:\users\aless\anaconda3\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [148]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\aless\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [149]:
dogs=dogs[dogs['description'].notna()]

In [150]:
duplicate=dogs[['id','breed_primary', 'breed_secondary','sex']].groupby(['breed_primary','breed_secondary','sex']).count()
same_breed=pd.DataFrame()
same_breed=duplicate[duplicate['id']>1]
same_breed=same_breed.reset_index()
same_breed=same_breed.rename(columns={'id':"count"})
dict_elem={}
for i in range(len(same_breed)):
    dict_elem[i]=dogs[(dogs['breed_primary']==same_breed.iloc[i]['breed_primary']) & (dogs['breed_secondary']==same_breed.iloc[i]['breed_secondary']) & (dogs['sex']==same_breed.iloc[i]['sex'])] ['id']

In [151]:
for i in range(len(dict_elem)):
    dict_elem[i]=dict_elem[i].values.tolist()
same_breed['caniId']=dict_elem.values()

In [153]:
def similarity(X,Y):
    #list for the values in the string
    X_list = word_tokenize(X)  
    Y_list = word_tokenize(Y)
    l1 =[]
    l2 =[]
    union=X_list+Y_list
    #l1 : 1= if the element is in the list, 2= if the element is not in the list
    #l2:  1= if the element is in the list, 2= if the element is not in the list
    for w in union:
        if w in X_list:
            l1.append(1)
        else:
            l1.append(0)
        if w in Y_list: 
            l2.append(1)
        else: 
            l2.append(0)
    # cos formula 
    c = 0
    for i in range(len(union)):
            c+= l1[i]*l2[i]
    #cosine = c / float((sum(l1)*sum(l2))**0.5)
    d1=0
    for i in l1:
        d1+=i**2
    d1=d1**0.5
    d2=0
    for i in l2:
        d2+=i**2
    d2=d2**0.5
    cos = c / float(d1*d2)
    return(cos)

In [159]:
values=[] 
for i in same_breed['caniId']:
        for j in range(0,len(i)-1):
            for t in range(len(i)-1,j,-1):
                x=str(dogs['description'][dogs['id']==i[j]])
                y=str(dogs['description'][dogs['id']==i[t]])
                if similarity(X=x,Y=y)>=0.9:
                    values.append((i[j],i[t]))
print(f'The number of pairs of dogs that are equal to each other is {len(values)}')

The number of pairs of dogs that are equal to each other is 3212